<div class="grid">
    {%for i in range(0, 9)%}
    <div id="{{i}}" class="board">
        {%for j in range(0, 9)%}
        <button id="{{i}}{{j}}" onclick="clicked(this.id)" class="cell" id="{{j}}"></button>
        {%endfor%}
    </div>
    {%endfor%}
</div>

<html> 
    <body>
        <audio id="win" src="{{ url_for('static', filename='win.wav') }}" preload="auto"></audio>
    </body>
</html>

<script>
    var cross = '<img src = ../static/cross.svg />'
    var circle = '<img src = ../static/circle.svg />'
    var opt = [circle, cross]
    var xTurn = true

    document.body.classList.add('xTurn')

    // Sets board up for first move
    for (i = 0; i < 9; i++) {
        id = i.toString()+(4).toString()
        set_grid(id)
    }

    // Handles button clicks
    async function clicked(button_id) {
        const button = document.getElementById(button_id);
        if (button.innerHTML !== "") return;
        
        playerid = button_id
        aiid = ''

        await fetch('/clicked', {
            method: "POST",
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                button_id: button_id,
            })
        })
        .then(res => res.json())
        .then(data => {
            player = data.first
            ai = data.second
            if (player.status === "game won") {
                console.log("game won")
                alert("GAME WON by " + player.winner);
                window.location.href = '/login'

                return;
            }

            if (player.status === "board won") {
                document.getElementById(String(player.gridId)).classList.add(player.turn + "Win");
                console.log(player.gridId, player.turn)
            }



            if (ai != null) {
                if (ai.status === "game won") {
                    console.log("game won")
                    alert("GAME WON by " + player.winner);
                    window.location.href = '/login'

                    return;
                }

                if (ai.status === "board won") {
                    document.getElementById(String(ai.gridId)).classList.add(ai.turn + "Win");
                    console.log(ai.gridId, ai.turn)
                }
                
                aiid = ai.button_id
                document.getElementById(ai.button_id).innerHTML = opt[+!xTurn];
                document.body.classList.toggle('oTurn');
                document.body.classList.toggle('xTurn');
                return
            }

            xTurn = player.turn === 'x' ? true : false;
        });

        console.log(aiid)

        set_grid(button_id);
    
        if (aiid === '') {
            set_grid(button_id);
        }else {
            set_grid(aiid);
        }
        button.innerHTML = opt[+xTurn];
        document.body.classList.toggle('oTurn');
        document.body.classList.toggle('xTurn');
}


    // Sets up the board for the next move
    function set_grid(button_id) {
        current_grid = document.getElementById(button_id[0])
        current_grid.classList.add("disabled")

        next_grid = document.getElementById(button_id[1])
        next_grid.classList.remove("disabled")
    }
</script>