<div class="grid">
    {%for i in range(0, 9)%}
    <div id="{{i}}" class="board">
        {%for j in range(0, 9)%}
        <button id="{{i}}{{j}}" onclick="clicked(this.id)" class="cell" id="{{j}}"></button>
        {%endfor%}
    </div>
    {%endfor%}
</div>

<html> 
    <body>
        <audio id="win" src="{{ url_for('static', filename='win.wav') }}" preload="auto"></audio>
    </body>
</html>

<script>
    var cross = '<img src = ../static/cross.svg />'
    var circle = '<img src = ../static/circle.svg />'
    var opt = [circle, cross]
    var xTurn = true

    document.body.classList.add('xTurn')

    // Sets board up for first move
    for (i = 0; i < 9; i++) {
        id = i.toString()+(4).toString()
        set_grid(id)
    }

    // Handles button clicks
    async function clicked(button_id) {
        const button = document.getElementById(button_id);
        if (button.innerHTML !== "") return;

        await fetch('/clicked', {
            method: "POST",
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                button_id: button_id,
                turn: xTurn ? 'x' : 'o'
            })
        })
        .then(res => res.json())
        .then(data => {

            if (data.status === "game won") {
                winSound.play();

                setTimeout(() => {
                    alert("GAME WON by " + data.winner);
                    window.location.href = '/';
                }, (winSound.duration || 2) * 1000);

                return;
            }

            if (data.status === "board won") {
                document.getElementById(String(data.gridId)).classList.add(data.turn + "Win");
                console.log(data.gridId, data.turn)
            }
        });

        set_grid(button_id);
        button.innerHTML = opt[+xTurn];
        document.body.classList.toggle('oTurn');
        document.body.classList.toggle('xTurn');
        xTurn = !xTurn;
}


    // Sets up the board for the next move
    function set_grid(button_id) {
        current_grid = document.getElementById(button_id[0])
        current_grid.classList.add("disabled")

        next_grid = document.getElementById(button_id[1])
        next_grid.classList.remove("disabled")
    }
</script>